APP_NAME=NADI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nadi
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_TTL=60
JWT_REFRESH_TTL=20160

TELEPORT_ENABLED=true
TELEPORT_JWT_HEADER="Teleport-Jwt-Assertion"
TELEPORT_APP_AUDIENCE=
TELEPORT_SIGNING_KEY_SOURCE=jwks_url
TELEPORT_JWKS_URL=
TELEPORT_SIGNING_KEY_PATH=
TELEPORT_JWKS_CACHE_TTL=3600
TELEPORT_TRUSTED_PROXY_CIDRS=
TELEPORT_LOCAL_BYPASS=false
TELEPORT_LOGOUT_URL=/

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

VITE_APP_NAME="${APP_NAME}"
